<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project For Code Immersives</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div style="margin: 0px auto; width: 600px">
        <% suggestionList.forEach(element => { %>
        <div
            style="background-color:  whitesmoke; padding-left: 20px; padding-top:10px; padding-bottom: 10px; margin-top: 10px">
            <li style="list-style: none;">
                <a style="text-decoration: none;"
                    href="single-suggestion/<%= element.id %>"><%= element.title.toUpperCase() %></a>
            </li>
        </div>
        <% }) %>
        <button style="margin: 20px auto; background-color: darkorange;width: 200px; height: 48px">
            <a style="text-decoration: none; color: black" href='create-suggestion'>Add A Suggestion</a></button>


    </div>


</body>

</html>