<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project For Code Immersives</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <form action="create-suggestion" method="POST">
            <label style ="margin-top: 10px" for="title">Title</label></br>
            <input style ="width: 190px" type="textarea" name="title"></br>
            <label style ="margin-top: 10px" for="name">Name</label></br>
            <input  style ="width: 190px" type="textarea" name="name"></br>
            <label style ="margin-top: 10px" for="suggestion">Suggestion</label></br>
            <input style ="width: 190px; height: 48px;" type="textarea" name="suggestion" style ="height: 100px"></br>
            <button style="background-color: darkslateblue; color: white; margin-top:10px ;width: 200px; height: 48px">
               Submit Suggestion</button>

        </form>
    </body>
</html>